#bg-image {
    background-image: url(../../assets/irelia.jpg);

    min-height: 100vh;
    max-width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}